<!doctype html>
<html>
    <head>
        <base href="/" />
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width">
        <title><%= title %></title>

        <link rel="stylesheet" href="<%= scripts.css %>">
        <script type="module" defer src="<%= scripts.js %>"></script>
    </head>
    <body></body>
</html>
